.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error h1{
    font-size: 150px;
    line-height: 120px;
    font-weight: bolder;
    text-align: center;
}
.error h3{
    text-align: center;
    font-weight: bolder;
}
.error p{
    text-align: center;
    color: gray;
}
.error button{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    padding: 1%;
    font-weight: bolder;
    color: white;
    border: none;
    background-color: rgb(255, 204, 0);
    transition: background-color 0.5s ease;
    margin-bottom: 30px;
}
.error button:hover{
    background-color: black;
}
@media screen and (max-width:450px){
    .error button{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        padding: 20px 0px;
    }
}