.faq-section {
    width: 40%;

}

.faq h1{
    font-weight: bolder;
    font-size: 24px;
}
.faq{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.faq-section{
    width: 100%;
    margin-bottom: 50px;
}
.faq-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    color: rgb(26, 26, 26);
    font-weight: bolder;
}

.faq-question {
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.faq-question.active {
    color: rgb(255, 204, 0);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    padding: 0 10px;
    border-top: 1px solid #ccc;
}

.faq-answer.open {
    max-height: 200px; /* Adjust based on the expected content height */
    padding: 10px;
}

.recent h1{
    font-size: 15px;
    padding: 5px 15px;
    border-left: 5px solid rgb(255, 204, 0);
}
.recent-post{
    width: 250px;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.recent-post img{
    width: 100px;
    height: 70px;
}
.recent-post p{
    font-size: 11px;
    font-weight: bolder;
}
@media screen and (max-width:450px){
 .faq{
    flex-direction: column;
 }   

 .recent-post{
    width: 100%;
    flex-direction: column;
 }
 .recent-post img{
    width: 90%;
    height: fit-content;
    margin: 0%;
    margin-left: 5%;
    margin-right: 5%;
 }

 .recent-post p{
    text-align: center;
    font-size: 15px;
    padding: 0%;
    padding: 0px 50px;
 }
}