/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-image: url(banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-bottom: 30px;
    margin-top: -1%;
   
}
.banner h1{
    font-weight: bolder;
    color: white;
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
}
.banner p{
    font-weight: bolder;
    color: white;
    text-align: center;
    /* word-spacing: 5px; */
}
body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
/* Navbar styling */
.navbar {
    font-family: 'Roboto' sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    font-size: 12px;
    font-weight: lighter;
    width: 100%;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links .dropdown {
    position: relative;
}

.nav-links .dropbtn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
   
}

.dropbtn{
    font-weight: bolder;
    font-size: 12px;
}

.nav-links .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-links .dropdown-content a {
    color: black;
    font-weight: bolder;
    
    padding: 12px 16px;
    text-decoration: none;
    font-size: 10px;
    display: block;
    transition: color 0.3s ease;
}

.nav-links .dropdown-content a:hover {
    background-color: #ddd;
    color: rgb(255, 204, 0);

}

.nav-links .dropdown:hover .dropdown-content {
    display: block;
}

.nav-links .search-btn {
    background-color: #333;
    color: rgb(111, 111, 111);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-bar {
    display: none;
    position: absolute;
    top: 170px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.671);
    padding: 10px;
    z-index: 2;
}

.search-bar input {
    width: 200px;
    padding: 5px;
    border: none;
   
}

/* Highlight active link */
.nav-links .dropbtn.active {
    color: yellow;
}

.dropbtn{
    width: 120px;
    display: block;
    transition: color 0.3s ease;
}
.dropbtn:hover{
    color: rgb(255, 204, 0);
}
.fa-angle-down{
    margin-left: 10px;
}

.search-btn{
    position: relative;
    float: right;
    margin-left: 50px;
}
.dropdown-content{
    border-top: 2px solid rgb(255, 204, 0);
}
.search-bar input{
    width: 250px;
    height: 40px;
    background-color: #333;
}

.logo{
    width: 180px;
    padding-left: 30px;
    padding-top: 20px;
}

.navbar2{
    display: flex;
    height: 80px;
    width: 100%;
    position: sticky;
}
.navbar2-info{
    padding-top: 10px;
    padding-left: 70px;
}
.navbar2-head{
    font-size: 14px;
    font-weight: lighter;
    
    color: #878787;
}
.navbar2-para{
    font-size: 14px;
    font-weight: bolder;
}
.navbar2btn{
    margin-top: 20px;
    margin-left: 20px;
    height: 40px;
    width: 150px;
    background-color:rgb(255, 204, 0);
    border: none;
    color: white;
    font-weight: bolder;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}
.navbar2btn:hover{
    color: rgb(255, 204, 0);
    background-color: #333;
}
 
.navbar3{
    display: flex;
    width: 100%;
    background-color: rgb(221, 221, 221);
    height: 40px;
}
.navbar3-para2{
    float: right;
    margin-left: 500px;
    padding-top: 10px;
}
.navbar3-para2 i{
    padding-right: 20px;
   
}
.navbar3-para{
    padding-top: 10px;
    padding-left: 20px;
    color: #3c3c3c;
}
.fa-map-marker-alt{
    padding-right: 10px;
}


.slider {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slides {
    width: 100%; 
    height:140vh;   
    display: flex;
    position: relative;
    transition: opacity 1s ease;
    /* transition: transform 0.5s ease; */
}

.slide {
    width: 100%;
    height: 140vh;
   background-image: url(sliderng.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    /* animation: moveRight 1s forwards; */
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top: 0;
    left: 0;  
}

.slide2{
    width: 100%;
    height: 140vh;
   background-image: url(slider2bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    /* animation: moveRight 1s forwards; */
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top: 0;
    left: 0;   
}

.slide3{
    width: 100%;
    height: 140vh;
   background-image: url(slider3bg.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   /* animation: moveRight 1s forwards; */
  
   transition: opacity 1s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.slide.active {
    opacity: 1;
    position: relative;
    transform: translateX(0%);
   
}


.content{
    background-color: blue;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(255, 255, 255);
    background-color: rgba(28, 28, 28, 0.76);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: background-color 0.5s ease;
}
.prev:hover{
    background-color:rgb(255, 204, 0);  
}
.next:hover{
    background-color:rgb(255, 204, 0);      
}

.slider1-head{

    padding-top: 10%;
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: lighter;
    word-spacing: 10px;
}
.slider1-head2{
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 70px;
    padding-bottom: 20px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}
.dots {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #2c2c2c;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color:rgb(255, 204, 0);
}

.dots-background {
    position: relative;
    background-color: blue;
    padding: 20px 0;
  height: 100px;
    width: 100%;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
    margin-top: 40px; /* Adjust the space above the dots */
}
.slider1-btn1{
    padding: 1.5%;
    background-color:rgb(255, 204, 0);
    border: none;
    color: white;
    font-weight: bolder;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
   margin-right: 10px;
   cursor: pointer;
}

.slider1-btn1:hover{
    color: rgb(255, 204, 0);
    background-color: #333;
}

.slider1-btn2{
    padding: 1.5%;
    background-color:#33333300;
    border: none;
    color: white;
    font-weight: bolder;
    border: 1px solid rgb(255, 204, 0);
}
.slider1-btn2:hover{
    background-color:rgb(255, 204, 0);
}

.slider1btn-div{
    display: flex;
    justify-content: center;
}


@keyframes moveRight {
    from {
      left: 0;
    }
    to {
      left: calc(100% - 100px);
    }
  }

.slider2-head{
    padding: 0.7%;
     margin-left: 20px;
     margin-top: 120px;
    width: fit-content;
    text-align: left;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color:rgb(255, 204, 0);
}
.slider2-head2{
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 1%;
    text-align: left;
    font-size: 35px;
    color: white;
    font-weight: lighter;
    word-spacing: 10px;
}

.slider2-head3{
    padding-top: 10px;
    margin-left: 20px;
    text-align: left;
    color: white;
    font-size: 70px;
    padding-bottom: 20px;
}

.slider2-btn1{
    margin-top: 10px;
    margin-left: 20px;
    padding: 1.5%;
    background-color:#33333300;
    border: none;
    color: white;
    font-weight: bolder;
    border: 1px solid rgb(255, 204, 0);
}

.slider3-head{
    margin-right: 20px;
    margin-top: 120px;
    padding-top: 1%;
    text-align: right;
    font-size: 35px;
    color: white;
    font-weight: lighter;
    word-spacing: 10px;
}
.slider3-head2{
    padding-top: 10px;
    margin-right: 20px;
    text-align: right;
    color: white;
    font-size: 70px;
    padding-bottom: 20px;

}
.slider3-head3{
    padding-top: 5px;
    margin-right: 20px;
    text-align: right;
    color: white;
    font-size: 20px;
    padding-bottom: 10px;    
}
.slider3btn-div{
    display: flex;
    justify-content: flex-end;
    margin-right:20px;
    margin-top: 15px;
}
.quota-requesting{
    display: flex;
  position: absolute;
  bottom: -4in;
  transform: translateX(5%);
    z-index: 3;
    background-color:rgb(255, 204, 0);
    padding: 20px 20px;
    width: 90%;
    display: flex;
}
.quota-requesting-para{
    padding: 20px 10px;
    font-size: 18px;
    color: white;
    font-weight: bolder;
}
.quota-requesting-btn{
    padding: 1%;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    background-color: #2c2c2c;
    border: none;
    margin-left: 100px;
}
.about{
    margin-top: 100px;
    display: flex;
    margin-bottom: 100px;
}
.about-us{
    width: 110vh;
    margin-left: 10px;
   
}
.about-us-head{
    font-size: 19px;
    color: #3c3c3c;
}
.about-us-head2{
    font-weight: bolder;
    color: #222222;
}
.about-us-para{
  font-weight: lighter;
  color: #878787;

}
.about-icons{
    font-size: 40px;
    color:rgb(255, 204, 0);
    margin-right: 20px;
}
.about-us-icons-row{
    display: flex;
    margin-top: 20px;
}
.about-us-para-icons{
    font-size: 15px;
    color: #222222;
    font-weight: bolder;
    padding-left: 10px;
}

.icons-sec{
    display: flex;
    width: 60vh;
    margin-left: 20px;
}
.values{
    width: 110vh;
    display: block;
    margin-left: 20px;
}
.values-head{
    font-weight: bolder;
    color: #222222;
}
.values-para{
    font-weight: lighter;
    color: #878787; 
    margin-bottom: 10px; 
}
.value-item {
    list-style: none;
    margin: 10px 0;
    width: 100vh;
    border: 1px solid #9d9d9d;
    padding: 10px;
}

.value-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 15px; */
    cursor: pointer;
    font-weight: bold;
    
}

.value-heading span {
    transition: transform 0.3s;
    
}
.arrow{
    background-color:#2c2c2c;
    color: rgb(255, 255, 255);
    padding: 3px;
    
}

.value-heading span.up {
    transform: rotate(1deg);
    background-color: rgb(255, 204, 0);
}

.value-content {
   
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    
}

.value-content p {
    margin: 5px 0;
    padding: 10px 0;
    border-top:1px solid #6e6d6d;
}
.headup{
    color:rgb(255, 204, 0) ;
}

.facts{
    background-color:#2c2c2c;
    height: 70vh;
    width: 100%;
    display: flex;
    margin-bottom: 70px;
}
.fact-sec{
    padding-top : 5%;
   
    width: 50vh;
    margin-left: 30px;
}
.fact-img{
    width: 60px;
    margin-left: 80px;
    justify-self: center;
}
.fact-counter{
    font-size: 50px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.fact-head{
    text-align: center;
    font-size: 18px;
    color: rgb(255, 204, 0);
    font-weight: bolder;
}
.specialist-head{
    font-size: 19px;
    color: #3c3c3c;
    font-weight: lighter;
    text-align: center;
    line-height: 10px;
}
.specialist-head2{
    color: #2c2c2c;
    font-weight: bolder;
    text-align: center;
    padding: 0%;
}
.service-info-head{
    color: #2c2c2c;
    font-size: 18px;
    font-weight: bolder;
}
.service-info-para{
    color: #6e6d6d;
}
.service-info{
    width: 200px;
    margin-left: 20px;
}
.service-icon{
    margin-top: 15px;
}
.service-sec{
    display: flex;
    margin-top: 50px;
}
.service-img{
    width: 300px;
    margin-top: 50px;
}
.service-row{
    /* margin-left: 30px; */
    margin: 0%;
}
.services{
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}


.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 90%;
    border-bottom: 2px solid  rgb(255, 204, 0);
}

.menu button {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
   background-color: transparent;
    transition: background-color 0.3s;
}

.menu button.active {
    background-color: rgb(255, 204, 0);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap:0px;
    justify-content:left;
    transition: all 0.5s ease-in-out;
    
}

.gallery .image-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px; /* Adjust height as needed */
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: scale(0.3);
}

.gallery .image-container.visible {
    opacity: 1;
    transform: scale(1);
}

.gallery .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s ease;
}

.gallery .image-container .info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
  
    padding: 5px;
    display: none;
}
.image-container{
    margin: 0%;
    padding: 0%;
}

.gallery .image-container .info .small-heading {
    background-color: rgb(255, 204, 0);
    color: black;
    display: inline-block;
    padding: 2px 5px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bolder;
}

.gallery .image-container:hover img {
    filter: brightness(50%);
}

.gallery .image-container:hover .info {
    display: block;
}

.gallery .image-container:hover .plus-btn {
    display: block;
}

.plus-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: none;
}
.gallery{
    margin-left: 20px;
    margin-bottom: 100px;
}

.info h2{
    font-size: 18px;
    font-weight: bolder;
}
.projbtn{
    display: flex;
    justify-content: center;
}
.projbtn button{
    padding: 1%;
    color: white;
    font-weight: bolder;
    background-color:rgb(255, 204, 0);
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: background-color .3s ease;
}
.projbtn button:hover{
    background-color:#2c2c2c;
}
.gallery{
    margin-left: 50px;
    margin-bottom: 0%;
}
.bg{
    width: 100%;
    background-color: #f3f3f3;
}

.test{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
}

.testimonials h1{
    font-weight: bolder;
    
    font-size: 25px;
    padding-left: 20px;
    color: #2c2c2c;
   
}
.testimonials{
    width: 500px;
    height: 500px;
   
}

.tslider-container {
    width: 80%;
    height: 400px;
    /* display: flex; */
    position: relative;
    overflow: hidden;
    margin-left: 40px;
}

.tslides {
     display: flex;    
    transition: transform 0.5s ease-in-out;
}

.tslide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    
    /* padding: 10px 50px; */
    font-size: 14px;
}
.tslide p{
    font-style: italic;
    color: #757575;
}
.tslide span{
    color: rgb(255, 204, 0);
    font-size: 50px;
}
.tdots {
    text-align: center;
    margin-top: 20px;
   
}

.tdot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.tdot.tactive {
    background-color:rgb(255, 204, 0);
}
.test-people{
    display: flex;
    margin-top: 30px;
    justify-content: end;
}
.test-people img{
    width: 100px;
    border-radius: 10px;
}
.test-people-head{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(255, 204, 0);
}
.test-people-para{
    font-style: normal;
    padding: 0%;
}

.clients h1{
    font-weight: bolder;
    padding-bottom: 50px;
    font-size: 25px;
    padding-left: 20px;
    color: #2c2c2c;
}
.clients{
    width: 500px;
}
.client{
    filter: grayscale(100%);
    width: 150px;
    border: 1px solid lightgray;
    padding: 10%;
    margin-bottom: 10px;
}
.client-row{
    display: flex;
    justify-content: space-between;
}

.help-sec{
    display: flex;
}
.help{
    background-color: rgb(255, 204, 0);
    width: 600px;
}
.help p{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 50px;
}
.help h3{
    font-weight: bolder;
    color: white;
    padding-left: 50px;
}
.news{
    color: white;
    background-color: #2c2c2c;
     width: 100%;
     display: flex;
     justify-content: center;
}
.newsletter{
    padding-right: 50px;
    padding-top: 20px;
}
.newsletter h3{
   
    font-size: 20px;
    font-weight: bolder;
}
.newsletter p{
    font-weight: bolder;
}
.news input{
    height: 50px;
    width: 50%;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid lightgray;
    color: lightgray;
    font-size: 12px;
}
.help-sec{
    margin-bottom: 70px;
}
.project-sec{
    width: 300px;
}
.project-img{
    width: 300px;
}
.project-para{
    font-weight: lighter;
    font-size: 15px;
    text-align: left;
    padding-right: 50px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
    transition: color 0.5s ease;
}
.project-para:hover{
    color: rgb(255, 204, 0);
}
.project-date{
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    color: #757575;
}
.project-row{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.projects{
    margin-bottom: 70px;
}
footer{
    background-color: #0b0b0b;
}
.footer-sec{
    width: 250px;
}
.footer-sec h1{
    color: white;
    font-size: 15px;
    padding:2% 4%;
    width: fit-content;
    text-align: center;
    font-weight: bolder;
    border-left: 4px solid rgb(255, 204, 0);
}
.footer-sec p{
    color:rgb(169, 169, 169);
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 30px;
}
.footer-sec img{
    width: 200px;
}
.footer-sec i{
    color:rgb(169, 169, 169);
    padding: 1%;
    margin-left: 10px;
}
.footer-sec span{
    margin-left: 50px;
}
.footer-sec ul{
    text-decoration: none;
}
.footer-sec li {
    display: flex;
    justify-content: space-between;
    padding: 0%;
}
.footer-sec li p{
    padding: 0%;
}
.footer-list{
    list-style-type:decimal;
    color:rgb(79, 79, 79);
    font-size: 14px;
    
}
.footer-list li{
 padding-bottom: 10px;
 padding-top: 10px;
 border-bottom: 1px solid rgb(79, 79, 79);
 transition: color 0.5s ease;
}
.footer-list li:hover{
    color: rgb(255, 204, 0);
}
.footer-row{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer-2nd{
    background-color:rgb(255, 204, 0);
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    padding: 15px 0px;
}
.footer-navbar a{
    padding-right: 10px;
    transition: color 0.5s ease;
}
.footer-navbar a:hover{
    color: white;
}
@media screen and (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links .dropdown {
        width: 100%;
    }

    .nav-links .dropbtn, .nav-links .search-btn {
        width: 100%;
        text-align: left;
        padding: 15px;
    }
}

@media screen and (max-width:450px){
    .banner h1{
        padding-top: 50px;
        font-size: 40px;   
     }   
     
    body{
        overflow-x: hidden;
    }

    .navbar2{
        flex-direction: column;
        height: fit-content;
        width: 100%;
        /* border: 1px solid black; */
    }
    .navbar2-info{
        margin: 0%;
        padding: 0%;
        text-align: center;
        width: 100%;
        /* margin-left: 20px; */
    }
    .navbar2-head{
        text-align: center;
        width: 100%;
    }
    .logo{
        width: 60%;
        margin: 3% 20%;
    }
    .navbar3{
        display: block;
        height: 100px;
        width: 100%;
    }
   
    .navbar3-para{
        text-align: center;
    }
    .navbar3-para2{
        margin: 0%;
        padding: 0%;
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: center;
        gap: 20px;
        font-size: 20px;
        padding-top: 20px;
    }


    .navbar2btn{
        width: 60%;
        margin: 3% 20%;
    }
    .slider{
        width: 100%;
        height: fit-content;
    }
    .slides{
        width: 100%;
    height: 350px;
    }
    .slider1-head{
        font-size: 15px;
    }
    .slider1-head2{
        font-size: 20px;
    }
    .slider2-head{
        margin: 0%;
        margin-top: 40px;
        margin-left: 20px;
        font-size: 12px;
    }
    .slider2-head2{
        font-size: 15px;
    }
    .slider2-head3{
        font-size: 20px;
    }
    .slider3-head{
        margin: 0%;
        margin-top: 40px;
        margin-right: 20px;
        font-size: 12px;
    }
    .slider3-head2{
        font-size: 15px;
    }
    .slider3-head3{
        font-size: 20px;
    }
    .quota-requesting{
        position: relative;
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        bottom: 1%;
        width: 100%;
        margin: 0%;
        padding: 1%;
        transform: translateX(0%);
    }
    .quota-requesting-para{
        font-size: 20px;  
        margin: 0%;
        text-align: center;
        /* padding-right: 100px; */
    }
    .quota-requesting-btn{
        font-size: 18px;
        text-align: center;
        
        /* width: 200px; */
        /* height: 40px; */
        width: fit-content;
        height: fit-content;
        margin: 0%;
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 5%;
    }
    .dots{
        bottom: 5%;
    }
    .about{
        margin-top: 50px;
        flex-direction: column;
        width: 100%;
    }
    .about-us{
    width: 100%;
    }
    .about-us-head2{
        font-size: 20px;
        text-align: left;
        padding-right: 50px;
    }
    .about-us-para{
        font-size: 15px;
    }
    .about-us-icons-row{
        flex-direction: column;
        margin: 0%;
    }
    .icons-sec{
        margin-top: 30px;
        width: 100%;
    }
    .about-us-para-icons{
        padding: 0%;
        padding-right: 40px;
    }
    .values{
        width: 100%;
    }
    .value-item{
        width: 90%;
    }
    .facts{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .fact-img{
        width: 50%;
        padding: 10%;
    }
    .fact-sec{
        /* border: 1px solid white; */
        width: 100%;
        margin: 0%;
    }
    .services{
        flex-direction: column;
    }
    .service-row{
        width: 100%;
    }
    .service-sec{
        width: 100%;
    }
    .service-img{
        width: 100%;
    }
    .service-info{
        width: 100%;
    }
    .menu{
        width: 100%;
        margin: 0%;
        height: fit-content;
        flex-direction: column;
        font-size: 12px;
    }
   .filter-btn{
    font-size: 12px;
   }    
   .gallery{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
   }
   .gallery .image-container {
    width: 100%;
    /* margin: 10%; */
    padding: 0%;
    /* border: 1px solid rgb(179, 255, 0); */
   }
   .image-container img{
    width: 100%;
    margin: 0%;
   }
   .info{
    width: 100%;
    margin: 0%;   
}
.test{
    flex-direction: column;
}
.testimonials{
    width: 100%;
}
.tslider-container{
    /* border: 1px solid black; */
    width: 100%;
    margin: 0%;
}
.tslides{
    width: 100%;
    padding: 0%;
}
.tslide{
    /* border: 1px solid black; */
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.test-people{
    justify-content: left;
}
.clients{
    width: 100%;
    margin: 0%;
}
.client-row{
    flex-direction: column;
    margin: 0%;
}
.client{
    width: 60%;
    /* padding: 0% 10%; */
    margin-left: 20%;
    margin-right: 20%;
}
.help-sec{
    flex-direction: column;
}
.help{
    width: 100%;
}
.news{
    width: 100%;
    flex-direction: column;
}
.news input{
    width: 90%;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.newsletter{
    width: 100%;
    text-align: center;
}
.projects{
    width: 100%;
}
.project-row{
    width: 100%;
    flex-direction: column;
}
.project-sec{
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.project-img{
    width: 100%;
}
.footer-row{
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
.footer-sec{
    width: 80%;
    margin: 0%;
    padding: 0%;
    margin-left: 10%;
    margin-right: 10%;
}
.footer-2nd{
    width: 100%;
    flex-direction: column;
}
.footer-2nd div{
    text-align: center;
}
.footer-navbar{
    justify-content: center;
    gap: 10px;
}


}

@media screen and (min-width:500px) and (max-width:800px){
    .banner h1{
        padding-top: 50px;
        font-size: 40px;   
     }   

    .nav-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links .dropdown {
        width: 100%;
    }

    .nav-links .dropbtn, .nav-links .search-btn {
        width: 100%;
        text-align: left;
        padding: 15px;
    }
    .navbar3{
        justify-content: space-between;
    }
    .navbar3-para{
        margin: 0%;
        padding: 0%;
        padding-top: 1%;
    }
    .navbar3-para2{
        margin: 0%;
        padding: 0%;
        padding-top: 1%;

    }
    .logo{
        width: 150px;
    }
    .navbar2-head{
        font-size: 12px;
        padding: 0%;
        margin: 0%;
        padding-top: 20px;
    }
    .navbar2-para{
        font-size: 12px;
        padding: 0%;
        margin: 0%;
        padding-top: 10px;

    }
    
    .navbar2-info{
    
        text-align: left;
        padding: 0%;
        margin: 0%;
        width: 200px;
    }
    .navbar2btn{
        margin: 0%;
        font-size: 13px;
        margin-top: 20px;
    }
    .dots{
        bottom: 5%;
    }
    .about{
        margin-top: 140px;
        flex-direction: column;
    }
    .about-us{
        width: 100%;
        margin: 0%;
    }
    .about-us-head{
        text-align: center;
    }
    .about-us-head2{
        text-align: center;
    }
    .about-us-para{
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-us-icons{
        margin: 0%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
       
    }

   

    .about-us-icons-row{
        width: 100%;
        margin: 0%;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .values{
        width: 100%;
        margin: 0%;
    }
    .values-head{
        text-align: center;
    }
    .values-para{
        text-align: center;
        margin: 0%;
        padding: 0%;
        padding-left: 100px;
        padding-right: 100px;
    }
   .value-item{
    width: 100%;
   }


   .facts{
    height:fit-content;
   }

   .fact-sec{
    margin: 0%;
    width: 100%;

   }
   .fact-img{
    margin: 0%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
   }
   .fact-head{
    font-size: 15px;
   }
   .services{
    flex-direction: column;
}
.service-row{
    width: 100%;
}
.service-sec{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.service-img{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.service-info{
    width: 100%;
}

.gallery{
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.gallery .image-container{
    width: 80%;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0%;
}
.test{
    flex-direction: column;
}
.testimonials{
    width: 100%;
    margin: 0%;
}
.testimonials h1{
    text-align: center;
}
.tslider-container{
    margin: 0%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.clients{
    width: 100%;
    margin: 0%;
}
.clients h1{
    text-align: center;
}
.client-row{
    margin: 0%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.help-sec{
    flex-direction: column;
}
.help{
    width: 100%;
    margin: 0%;
    text-align: center;
}
.news{
    height: 120px;
}

.projects{
    width: 100%;
}
.project-row{
    width: 100%;
    flex-direction: column;
}
.project-sec{
    width: 80%;
    margin: 0%;
    padding: 0%;
    margin-left: 10%;
    margin-right: 10%;
}
.project-img{
    width: 100%;
}
.footer-row{
    gap: 20px;
}
}

@media screen and (min-width:1200px) and (max-width:1500px){
    .navbar3{
        width: 100%;
        /* margin: 0% 5%;        */
        justify-content: center;
    }
    .navbar2{
        justify-content: center;
        width: 100%;
    }
    .navbar{
        justify-content: center;
        width: 100%;
    }
    .quota-requesting{
        justify-content: center;
    }
    .about{
        width: 100%;
        justify-content: center;
    }
    .facts{
        width: 100%;
        justify-content: center;
    }
    .fact-img{
        width: 30%;
        margin: 0% 35%;
    }
   
    .gallery{
        width: 60%;
        margin: 0% 20%  ;
        /* border: 1px solid blue; */
      }
      .test{
        width: 100%;
        justify-content: center;
      }
      .footer-2nd{
        width: 100%;
        justify-content: center;
        gap: 100px; 
    }
}

@media screen and (min-width:1600px) and (max-width:2600px){
.banner{
    height: 40vh;
}
    .navbar3{
        width: 100%;
        /* margin: 0% 5%;        */
        justify-content: center;
    }
    .navbar2{
        justify-content: center;
        width: 100%;
    }
    .navbar{
        justify-content: center;
        width: 100%;
    }
    .quota-requesting{
        justify-content: center;
    }
    .about{
        width: 100%;
        justify-content: center;
    }
    .facts{
        width: 100%;
        height: 50vh;
        justify-content: center;
    }
    .fact-img{
        width: 30%;
        margin: 0% 35%;
    }
    
    .gallery{
        width: 40%;
        margin: 0% 30%  ;
        /* border: 1px solid blue; */
      }
      .test{
        width: 100%;
        justify-content: center;
      }
      .footer-2nd{
        width: 100%;
        justify-content: center;
        gap: 100px; 
    }
}