.sidebar{
    display: flex;
   height: fit-content;
   justify-content: center;
   gap: 5px; 
   margin-top: 15px;
}
.news_left{
    width: 250px;
    
}
.sidebar-img{
    width: 80px;
    height: 70px;
}
.newsside-bar{
    width: 250px;
   
}
.newsside-bar h5{
    margin-bottom: 30px;
    font-weight: bolder;
    padding-left: 15px;
    border-left: 5px solid rgb(255, 204, 0);
}
.sidebar h5{

    font-size: 11px;
    font-weight: bolder;
    line-height: 20px;
    text-align: left;
   border: none;
   margin-bottom: 20px;
}
.category-sidebar h1{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bolder;
    padding-left: 15px;
    border-left: 5px solid rgb(255, 204, 0);
}
.categories{
    display: flex;
    flex-direction: column;
}
.categories button{
   text-align: left;
   padding: 5%;
    background-color:white;
    border: none;
    color: rgb(50, 50, 50);
    border-bottom: 1px solid gray;    
    transition: color 0.5s ease;

}
.categories button:hover{
    color:rgb(255, 204, 0) ;
}
.tags-sidebar h1{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bolder;
    padding-left: 15px;
    border-left: 5px solid rgb(255, 204, 0);   
}
.tags button{
    background-color: white;
    border: 1px solid gray;    
    color: rgb(38, 38, 38);
    font-size: 12px;
    padding: 4%;
    margin-bottom: 10px;
    margin-right: 7px;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}
.tags button:hover{
    border: none;
     background-color:rgb(255, 204, 0) ;
     color: white;
}
.newssection{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}
.readpages{
    width: 550px;
}
.readpage{
    width: 550px;
    margin-top: 50px;
}
.readpage img{
    width: 550px;
}
.readpages-icons{
    display: flex;
    justify-content: left;
    gap: 20px;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.readpages-icons p{
  color: rgb(18, 18, 18);
  font-size: 14px;
  transition: color 0.5s ease;
}
.readpages-icons p:hover{
 color: rgb(255, 204, 0);   
}
.readicons{
    margin-right: 10px;
    color: gray;
}
.readpage h5{
    font-weight: bolder;
    font-size: 23px;
    color: rgb(20, 20, 20);
    transition: color 0.5s ease;
}
.readpage h5:hover{
    color:rgb(255, 204, 0);
}
.readpage p{
    color: rgb(90, 90, 90);
    font-size: 14px;
    margin-bottom: 20px;
}
.readpage button{
    padding: 1.5%;
    background-color:rgb(255, 204, 0);
    border: none;
    color: white;
    font-weight: bolder;
    transition: background-color 0.5s ease;
}
.readpage button:hover{
    background-color: rgb(20, 20, 20);
}
@media screen and (max-width:450px){
    .newssection{
        flex-direction: column;
        width: 100%;
        /* border: 1px solid black; */
    }
    .news_left{
        width: 100%;
        margin: 0%;
    }
    .newsside-bar{
        width: 100%;
        
    }
    .newsside-bar h5{
        margin-left: 10px;
    }
    .sidebar{
        width: 90%;
        margin: 1% 5%;
    }
    .category-sidebar h1{
        margin-left: 10px;
    }
    .category-sidebar{
        width: 100%;
    }  
    .categories{
        width: 100%;
    }
    .categories button{
        width: 90%;
        margin: 0% 5%;
    }
    .tags-sidebar h1{
        margin-left: 10px;
    }
    .readpages{
        width: 100%;
        margin: 0%;
        /* border: 1px solid black; */

    }
    .readpage{
        width: 100%;
        margin: 0%;
        margin-bottom: 20px;
        /* border: 1px solid black; */
    }
    
    .readpages .readpage img{
        width: 90%;
        /* margin-left: 10%; */
       margin: 0% 5%;
    }
    
    .readpages-icons{
     width: 90%;
     margin: 0% 5%;
    }
    .readpages-icons p{
        font-size: 10px;
        padding: 0%;
        margin: 0%;
    }
    .readpage h5{
        padding: 0% 10%;
        font-size: 25px;
    }
    .readpage p{
        padding: 0% 10%;
    }
    .readpage button{
        width: 50%;
        margin: 0% 25%;
    }
}

@media screen and (min-width:500px) and (max-width:800px){
.readpages{
    width: 300px;
}
.readpage{
    width: 300px;
}
.readpage img{
    width: 100%;
}    
.readpages-icons{
    width: 100%;
}


}