.price-sec{
    width: 250px;
}
.price-sec-top{
    background-color: rgb(20, 20, 20);
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.price-sec-top h4{
    padding-top: 30px;
    font-weight: bolder;
}
.price-sec-top h1{
    font-weight: bolder;
    line-height: 20px;
}
.price-sec-top h5{
    font-weight: bolder;
}
.price-sec-bottom{
    background-color: rgb(244, 243, 243);
   text-align: center; 
   padding-bottom: 20px;
}
.price-sec-bottom p{
    color: darkgrey;
    font-size: 12px;
    line-height: 30px;
    padding: 10px;
}
.price-sec-bottom button{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 10px;
    background-color: rgb(20, 20, 20);
    border: none;
    transition: background-color 0.5s ease;
}
.price-sec-bottom button:hover{
    background-color: black;
}
#orange{
    background-color: rgb(255, 204, 0);
}
#orangebtn{
    background-color: rgb(255, 204, 0);
    border: none;
    transition: background-color 0.5s ease;
}
#orangebtn:hover{
    background-color: black;
}

.pricing-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 70px;
}
@media screen and (max-width:450px){
    .pricing-row{
        flex-direction: column;

    }
    .price-sec{
        margin: 0%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}