.services-row{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.services-logo{
    width: 50px;
}
.services-sec{
    width: 250px;
}
.services-img{
    width: 100%;
}
.services-sec-info{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    gap: 10px;
}
.services-sec-info2 h4{
 font-size: 15px;
 font-weight: bolder;
 transition: color 0.5s ease;
}
.services-sec-info2 h4:hover{
    color: rgb(255, 204, 0); 
}
.services-sec-info2 p{
    font-size: 14px;
    color: gray;
    padding-bottom: 10px;
}
.services-sec-info2 button{
    background-color: transparent;
    border: none;
    color: gray;
    font-size: 12px;
    transition: color 0.5s ease;
}
.services-sec-info2 button:hover{
    color: rgb(255, 204, 0);
}
.fa-play{
    margin-right: 10px;
}

@media screen and (max-width:450px){
 
    .services-row{
        flex-direction: column;
    }
    .services-sec{
        width: 100%;
    }
    .services-img{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}